*{
    transition: 1s;
}

html body{
    background: url('../img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 99%;
    height: 1845px;
    position: absolute;
    display: flex;
    justify-content: center;
}

header{
    background: url('../img/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1300px;
    height: 786px;
    z-index: 999;
    overflow-y: hidden;
}