@font-face {
    font-family: "Phosphate";
    src: url("../fonts/") format("truetype");
}

*{
    transition: 1s;
}

html body{
    margin: 0 auto;
    background: url('../img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
	height: 100%;
    width: 100%
}

body{
    display: flex;
    flex-direction: column;
    /* height: 100%; */
}

header{
    display: flex;
    justify-content: center; 
}
.header-img{
    background: url('../img/header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 1300px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-left: 4%
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}


.bg-content{
    background: url('../img/leftasset.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
    height: inherit;
    position: relative;
    width: 60%;
    border: 4px solid black;
    border-radius: 1rem;
    -webkit-box-shadow: 38px 7px 170px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 38px 7px 170px -4px rgba(0,0,0,0.75);
    box-shadow: 38px 7px 170px -4px rgba(0,0,0,0.75);
}

.bg-content-items{
    position: absolute;
    margin-top: -70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.bg-content-item-first{
    margin-left: -50px;
    margin-top: -30px
}

.choose-group-first{
    position: absolute;
    z-index: 999;
}

.choose-group-shadow{
    position: absolute;
    margin-top: 6px;
    margin-left: -3px
}

.choose-group{
    margin-left: 260px;
    margin-top: -3%
}

.images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35%
}

.image-item img{
    width: 75%;
    height: auto
}



/* //////STARS////////// */
.first-star{
    position: absolute;
    z-index: 999;
    margin-left: 60%;
    margin-top: 5%
}

.second-star{
    position: absolute;
    z-index: 999;
    margin-left: 25%;
    margin-top: 40%
}

.third-star{
    position: absolute;
    z-index: 999;
    margin-left: 45%;
    margin-top: 25%;
    width: 50px
}

.fourth-star{
    position: absolute;
    z-index: 999;
    margin-left: 52%;
    margin-top: 30%
}
/* ////////////////////// */

.explosion-container{
    flex: 0 0 auto;
    margin-left: 32%;
    margin-top: -400px;
    z-index: 999;
    /* display: none; */
}

.bam{
    position: absolute;
    margin-left: 100%;
    margin-top: 500px;
}

.bam img{
    width: 200px

}

.photo{
    position: sticky;
    margin-top: 5%;
}

.hat{
    position: absolute;
    z-index: -1;
    margin-left: -30%;
    margin-top: 20%
}


.btnUse{
    background-image: url('../img/btn1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: unset;
    overflow-y: hidden;
    width: 200px;
    height: 50px;
    border-radius: 0.5rem;
    margin-top: -5%;
    margin-right: 10%;
    z-index: 999;
}

/* MODAL HOME */

.background-modal-home{
    background-image: url('../img/modal-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 938px;
    height: 550px;
}

.modalHome{
    position: absolute;
    z-index: 999999;
    width: 100%;
    height: 100vh;
}

@media ( max-width: 2561px ){
    .explosion-container{
        flex: 0 0 auto;
        margin-left: 42%;
        margin-top: -15%;
        z-index: 999
    }

    .second-star{
        position: absolute;
        z-index: 999;
        margin-left: 25%;
        margin-top: 0;
    }
    .first-star{
        position: absolute;
        z-index: 999;
        margin-left: 50%;
        margin-top: -30%
    }
    
    .third-star{
        position: absolute;
        z-index: 999;
        margin-left: 53%;
        margin-top: -15%;
        width: 50px
    }
    
    .fourth-star{
        position: absolute;
        z-index: 999;
        margin-left: 45%;
        margin-top: -12%
    }

    .choose-group{
        margin-left: 200px
    }
}

@media ( max-width: 1440px ){
    .second-star{
        position: absolute;
        z-index: 999;
        margin-left: 5%;
        margin-top: 0;
    }

    .first-star{
        position: absolute;
        z-index: 999;
        margin-left: 53%;
        margin-top: -30%
    }
    
    .third-star{
        position: absolute;
        z-index: 999;
        margin-left: 55%;
        margin-top: -60%;
        width: 50px
    }
    
    .fourth-star{
        position: absolute;
        z-index: 999;
        margin-left: 40%;
        margin-top: -25%
    }
    .explosion-container{
        flex: 0 0 auto;
        margin-left: 35%;
        margin-top: -30%;
        z-index: 999
    }

    .choose-group{
        margin-left: 190px;
    }
}

@media( max-width: 1200px ){
    .header-img{
        height: 550px;
        width: 1000px;  
        margin-left: 4%
    }

    .bg-content-item-first{
        width: 100px
    }

    .choose-group{
        margin-left: 200px;
    }
}

@media( max-width: 1024px){
    .hat{
        width: 200px
    }

    .bam{
        display: none;
    }

    .explosion-container{
        width: 50%;
        margin-left: 35%;
        margin-top: -42%;
        z-index: 999
    }

    .second-star{
        position: absolute;
        z-index: 999;
        margin-left: 5%;
        margin-top: 0;
    }
    .first-star{
        position: absolute;
        z-index: 999;
        margin-left: 50%;
        margin-top: -35%
    }
    
    .third-star{
        position: absolute;
        z-index: 999;
        margin-left: 55%;
        margin-top: -80%;
        width: 50px
    }
    
    .fourth-star{
        position: absolute;
        z-index: 999;
        margin-left: 42%;
        margin-top: -20%
    }

    .btnUse{
        background-image: url('../img/btn1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 200px;
        height: 50px;
        border-radius: 0.5rem;
        z-index: 999;
        margin-right: -5%
    }

    .choose-group{
        margin-left: 120px;
        margin-top: 5%;
    }
}

@media ( max-width: 769px ){
    .header-img{
        height: 400px;
        width: 100%;
        margin-left: 4%
    }

    .choose-group{
        margin-left: 80px;
        margin-top: 10%;
    }

    .explosion-container{
        width: 50%;
        margin-left: 35%;
        margin-top: -55%;
        z-index: 999
    }

    .explosion-container img{
        width: 320px
    }

    .second-star{
        position: absolute;
        z-index: 999;
        margin-left: 5%;
        margin-top: 0;
    }
    .first-star{
        position: absolute;
        z-index: 999;
        margin-left: 47%;
        margin-top: -30%;
        width: 3%
    }
    
    .third-star{
        position: absolute;
        z-index: 999;
        margin-left: 52%;
        margin-top: -60%;
        width: 30px
    }
    
    .fourth-star{
        position: absolute;
        z-index: 999;
        margin-left: 40%;
        margin-top: -20%;
        width: 30px
    }

    .btnUse{
        background-image: url('../img/btn1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 200px;
        height: 50px;
        border-radius: 0.5rem;
        z-index: 999;
        margin-right: -10%
    }

    .explosion-container img{
        width: 80%;
        margin-top: 40%;
    }
}

@media( max-width: 426px ){
    .header-img{
        height: 220px;
        width: 400px;
        margin-left: 5%
    }

    .mobile-align{
        display: flex;
        justify-content: center;
    }

    
    .bam{
        display: none;
    }

    .explosion-container{
        display: none;
    }

    .bg-content-item-first{
        margin-left: -20px;
        margin-top: -5px
    }

    .bg-content-item-first{
        width: 100px
    }

    .choose-group{
        margin-left: 60px;
        margin-top: 10%
    }

    .hat{
        display: none;
    }
    .first-star{
        display: none;
    }
    
    .third-star{
        display: none;
    }
    
    .fourth-star{
        display: none;
    }

    .btnUse{
        background-image: url('../img/btn1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 200px;
        height: 50px;
        border-radius: 0.5rem;
        z-index: 999;
        margin: 0 auto
    }
}

@media ( max-width: 376px ){
    .bg-content-item-first{
        width: 100px
    }

    .choose-group{
        margin-left: 70px;
    }

    .bg-content{
        width: 80%
    }

    .btnUse{
        background-image: url('../img/btn1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 200px;
        height: 50px;
        border-radius: 0.5rem;
        z-index: 999;
        margin: 0 auto
    }
}

@media ( max-width: 320px ){
    .header-img{
        height: 180px;
        width: 100%;
        margin-left: 5%
    }

    main{
        justify-content: center;
    }

    .bg-content{
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }
    .choose-group{
        margin-left: 0;
        margin-top: -3%
    }

    .bg-content-item-first{
        margin-top: 10px;
        width: 100px
    }

    
    .choose-group-shadow{
        position: absolute;
        margin-top: 6px;
        margin-left: -3px
    }

    .choose-group{
        margin-left: 60px;
        margin-top: 10%
    }

    .btnUse{
        background-image: url('../img/btn1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 200px;
        height: 50px;
        border-radius: 0.5rem;
        z-index: 999;
        margin: 0 auto
    }
}
